{% extends 'base.html' %}
{% block title %}Пользователь Amstl{% endblock %}
{% block content %}
  <div class="container">
      <div class="profile-header">
          <div class="profile-avatar">
              <img src="#" alt="Avatar">
          </div>
          <div class="profile-info">
              <h2 class="profile-info-username">Amstl</h2>
          </div>
          <div class="profile-info-books">
              <div class="books-read">
                  <p>Прочитано за все время:</p>
                  <p>{{ read_books }}</p>
              </div>
              <div class="books-rating">
                  <p>Средняя оценка</p>
                  <p>3.2</p>
              </div>
              <div class="books-year">
                  <p>Прочитано в этом году:</p>
                  <p>12</p>
              </div>
              {% if following %}
                <a
                    class="btn btn-lg btn-light"
                    href="{% url 'posts:profile_unfollow' name %}"
                    role="button">Отписаться</a>
              {% else %}
                <a class="btn btn-lg btn-primary"
                   href="{% url 'posts:profile_follow' name %}"
                   role="button">Подписаться</a>
              {% endif %}
          </div>
      </div>
      <div class="profile-content">
          <div class="read-books"></div>
          <div class="friends"></div>
      </div>
  </div>
{% endblock %}